<div class="col s12">
	<div class="row"></div>
	<div class="row"></div>
	<div class="row"></div>

	<div class="row">
		<div class="col s1"></div>
		<div class="col s5">
			<input placeholder="Busca" id="busca" type="text" class="validate" ng-model="query">
		</div>
		<div class="col s2">
			<a class="waves-effect waves-light btn" href="" ng-click="searchQuery=query">Buscar</a>
		</div>
		<div class="col s2">
			<p>
				<input type="checkbox" class="filled-in" id="onlyActives" checked="checked" ng-model="onlyActives" />
				<label for="onlyActives">Somentes Ativos</label>
			</p>
		</div>
		<div class="col s2">
			<a class="waves-effect waves-light btn" href="#/regiao">Adicionar novo</a>
		</div>
	</div>

	<div class="row"></div>
	<div class="row"></div>
</div>


<div>
	<div>
		<span ng-show="errorMessageExterior">{{errorMessageExterior}}</span>
	</div>
	<div>
		<span ng-show="successMessageExterior">{{successMessageExterior}}</span>
	</div>
	<span ng-show="errorMessage">{{errorMessage}}</span>

	<table ng-hide="errorMessage">
		<thead>
			<tr>
				<th data-field="nome">Nome</th>
				<th data-field="descricao">Descrição</th>
				<th data-field="acoes">Ações</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="regiao in regioes | filter:(onlyActives?{ativo: true}:undefined) | filter:searchQuery">
			<!--tr ng-repeat="regiao in regioes | filter:(searchQuery || (onlyActives?{ativo: true}:true) )"-->
				<td ng-bind="regiao.nome">Nome 1</td>
				<td ng-bind="regiao.descricao">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
				<td>
					<a class="waves-effect waves-light btn" ng-href="#/regioes/{{regiao.id}}" >Editar</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>